<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dlang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,65}</string>
                <key>spriteSourceSize</key>
                <string>{507,65}</string>
                <key>textureRect</key>
                <string>{{1,201},{507,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,52}</string>
                <key>spriteSourceSize</key>
                <string>{512,52}</string>
                <key>textureRect</key>
                <string>{{1,268},{510,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1,1},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice03_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,180}</string>
                <key>spriteSourceSize</key>
                <string>{304,180}</string>
                <key>textureRect</key>
                <string>{{1,322},{304,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice04_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,105}</string>
                <key>spriteSourceSize</key>
                <string>{192,105}</string>
                <key>textureRect</key>
                <string>{{307,322},{192,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice05_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,27}</string>
                <key>spriteSourceSize</key>
                <string>{51,27}</string>
                <key>textureRect</key>
                <string>{{307,451},{51,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice06_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,9}</string>
                <key>spriteSourceSize</key>
                <string>{131,9}</string>
                <key>textureRect</key>
                <string>{{307,429},{131,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice07_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,9}</string>
                <key>spriteSourceSize</key>
                <string>{124,9}</string>
                <key>textureRect</key>
                <string>{{307,440},{124,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg1.png</string>
            <key>size</key>
            <string>{512,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dac5da1ac2e4495cfd832de524893c2c:552ef17a8ac2d4d831f42d3b26928b0c:8f3b3b0969c9784d2c88d45770e3e65a$</string>
            <key>textureFileName</key>
            <string>bg1.png</string>
        </dict>
    </dict>
</plist>
