<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slice01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,132}</string>
                <key>spriteSourceSize</key>
                <string>{51,132}</string>
                <key>textureRect</key>
                <string>{{397,269},{51,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{268,1},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice03_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{390,135},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice04_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,132}</string>
                <key>spriteSourceSize</key>
                <string>{75,132}</string>
                <key>textureRect</key>
                <string>{{397,1},{75,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice05_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,261}</string>
                <key>spriteSourceSize</key>
                <string>{120,261}</string>
                <key>textureRect</key>
                <string>{{268,135},{120,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice06_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,394}</string>
                <key>spriteSourceSize</key>
                <string>{99,394}</string>
                <key>textureRect</key>
                <string>{{1,400},{99,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice07_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,394}</string>
                <key>spriteSourceSize</key>
                <string>{87,394}</string>
                <key>textureRect</key>
                <string>{{179,1},{87,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice08_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,395}</string>
                <key>spriteSourceSize</key>
                <string>{87,395}</string>
                <key>textureRect</key>
                <string>{{90,1},{87,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice09_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,397}</string>
                <key>spriteSourceSize</key>
                <string>{87,397}</string>
                <key>textureRect</key>
                <string>{{1,1},{87,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg3.png</string>
            <key>size</key>
            <string>{511,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97d8373e66040c53ada83868d9897945:0f36666ca959acd4e6d164ea1271e9b3:70d09c762e9a07403bca64efc5e57d12$</string>
            <key>textureFileName</key>
            <string>bg3.png</string>
        </dict>
    </dict>
</plist>
