<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Die.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1930},{90,54}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{90,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Fly.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1930},{94,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{94,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1930},{92,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,23},{92,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{900,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,504}}</string>
                <key>sourceSize</key>
                <string>{900,504}</string>
            </dict>
            <key>pipe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{148,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,1024}}</string>
                <key>sourceSize</key>
                <string>{148,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameui.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc53308065e5e6d668494f0a514391f6$</string>
            <key>textureFileName</key>
            <string>gameui.png</string>
        </dict>
    </dict>
</plist>
